<!DOCTYPE html>
<html lang="en">
<head>
        <!-- link para tipo de letra -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- link al css -->
	<link rel="stylesheet" type="text/css" href="estilos/info.css"/>
    <link rel="stylesheet" type="text/css" href="estilos/formato.css"/>
    <!-- link para iconos -->
    <script src="https://kit.fontawesome.com/fe64e3e572.js" crossorigin="anonymous"></script>
    <title>MUSICOTERAPIA-CONSEJOS</title>
</head>
<body>
    <header>
        <!-- barra de navegación -->
        <nav class="bgPrincipal navPadding textCenter">
            <h2 class="colorWhite">CONSEJOS</h2>
                <a href="logged.html" class="aNavPaddingRight colorWhite boldText">INICIO</a>
            </nav>
    </header>
    <main>
        <section class="paddingTitulo">
            <h2 class="linea textCenter"><span class="titulo-span colorOrange fontH">EMBARAZO</span></h2>
        </section>
        <section>
            <div class="wrapper flex-center">
                <div class="floatLeft width-div-img padding-img">
                    <img src="images/music-images.jpg" alt="imagen introduccion" width="100%">
                </div>
                <div class="floatLeft width-div-texto padding-p p-top-padding">
                    <p class="p-font p-format">
                        Tomar en cuenta que con el aprendizaje de t&eacute;cnicas de relajaci&oacute;n y descanso mental y corporal,
                        favorece en la mujer la capacidad de controlar por ella misma la sensaci&oacute;n de dolor y ansiedad.
                    </p>
                    <p class="p-font p-format">
                        Es recomendada para embarazos que transcurren sin dificultades ni necesidad de cuidados adicionales.
                        Embarazos de alto riesgo, que necesitan medidas espec&iacute;ficas por riesgo a aborto o precisan descanso total o medicamentos.
                        Otros: embarazos m&uacute;ltiples, gestantes con sobrepeso o ceguera, abortos producidos anteriormente, fallecimiento de
                        un hijo antes de la actual gestaci&oacute;n, entre otras situaciones.
                    </p>
                </div>
            </div>
        </section>
        <section class="paddingTitulo">
            <h2 class="linea textCenter"><span class="titulo-span colorOrange fontH">V&Iacute;NCULO CON EL BEB&Eacute;</span></h2>
        </section>
        <section>
            <div class="wrapper flex-center">
                <div class="floatLeft width-div-img padding-img">
                    <img src="images/Vinculo-230_165.jpeg" alt="imagen introduccion" width="100%">
                </div>
                <div class="floatLeft width-div-texto padding-p p-top-padding">
                    <p class="p-font p-format">
                        En este sentido, la musicoterapia trata de:
                    </p>
                    <p class="p-font p-format">
                        Establecer un v&iacute;nculo entre padres e hijo, antes de su nacimiento.
                        Motivar, de manera precoz, la uni&oacute;n familiar: involucrar no solo a la mam&aacute;,
                        su pareja y el hijo que todav&iacute;a no ha nacido, sino tambi&eacute;n a los hermanos, si los hay.
                        Promover que la pareja tambi&eacute;n se implique en el embarazo.
                    </p>
                </div>
            </div>
        </section>
    </main>
    <!-- button to top -->
    <a href="#top" class="position-to-top">
        <i class="fas fa-angle-up icon-to-top"></i>
    </a>
    <footer>
        <div class="bgPrincipal padding-footer">

        </div>
    </footer>
</body>
</html>