<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <!-- link para css -->
    <link th:href="@{/styles/cssandjs/estilos.css}" rel="stylesheet" />
    <!-- link para tipo de letra -->
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link href = "https://fonts.googleapis.com/css2? family = Roboto & display = swap" rel = "hoja de estilo ">
    <title>Mommy's Music - Home</title>
</head>
<body>
  <main>
      <div class="contenedor_principal">
          <div class="caja_trasera">
              <div class="caja_trasera-login">
                  <h1>MOMMY'S MUSIC PROJECT</h1>
                  <h3>Inicio de Sesión</h3>
                  <button id="btn_inicio">Iniciar Sesión</button>
              </div>
              <div class="caja_trasera-registro">
                  <h1>MOMMY'S MUSIC PROJECT</h1>
                  <h3>Registro</h3>
                  <button id="btn_registro">Registrarse</button>
              </div>
          </div>
          <div class="contenedor_login-registro">
              <form action="#" class="form_login" th:action="@{/users/validate}" th:object="${user}" method="post">
                  <h2>Iniciar Sesión</h2>
                  <input type="text" th:field="*{email}" placeholder="Correo Electrónico"required>
                  <input type="password" th:field="*{password}" placeholder="Contraseña"required>
                  <button type="submit">Acceder</button>
              </form>
              <form action="#" class="form_registro"th:action="@{/users/register}" th:object="${user}" method="post">
                  <h2>Registrarse</h2>
                  <input th:field="*{name}" id="nombre" type="text" placeholder="Nombre completo" name="nombre" required>
                  <input th:field="*{email}" id="correo" type="text" placeholder="Correo Electrónico" name="correo" required>
                  <input th:field="*{password}" id="pwrd" type="password" placeholder="Contraseña" name="pwrd" required>
                  <label for="genero">Genero: </label>
                  <select id="genero" required th:field="*{gender}">
                      <option value="" hidden>Seleccionar genero</option>
                      <option value="masculino">Masculino</option>
                      <option value="femenino">Femenino</option>
                  </select>
                  <input th:field="*{birthDate}" id="fechaNacimiento" type="date" name="fechaNacimiento">
                  <button type="submit">Registrarse</button>
              </form>
          </div>
      </div>
  </main>
  <script type="text/javascript" th:src="@{/js/cssandjs/loginRegistro.js}"></script>
</body>
</html>