@charset "utf-8";
/* CSS Document */
body{
	background-color: #f0c5a8;
	background-image: url("../images/beneficios-musicoterapia.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

h1{
	text-align: center;
	color: white;
	margin: 30px;
	font-weight: bold;
}

.boton{
	width: 500px;
	font-size: 25px;
	border: 1px solid #000;
	border-radius: 15px;
	text-align: center;
	background: #dcefee;
	padding: 10px;
	margin: 10px auto;
}

a{text-decoration: none;
color: #000;}