<!DOCTYPE html>
<html lang="en">
<head>
        <!-- link para tipo de letra -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- link al css -->
	<link rel="stylesheet" type="text/css" href="estilos/infoMusic.css"/>
    <link rel="stylesheet" type="text/css" href="estilos/formato.css"/>
    <!-- link para iconos -->
    <script src="https://kit.fontawesome.com/fe64e3e572.js" crossorigin="anonymous"></script>
    <title>CONSEJOS</title>
</head>
<body>
    <header>
        <!-- barra de navegación -->
        <nav class="navPadding textCenter">
            <h2 class="colorWhite">CONSEJOS SOBRRE LA MUSICOTERAPIA</h2>
                <a href="/loged.html" class="aNavPaddingRight colorWhite boldText">INICIO</a>
            </nav>
    </header>
    <main>
        <section class="paddingTitulo">
            <h2 class="linea textCenter"><span class="titulo-span colorOrange fontH">MUSICOTERAPIA</span></h2>
        </section>
        <section>
            <div class="wrapper flex-center">
                <div class="width-div-texto padding-p p-top-padding textCenter">
                    <p class="p-font p-format">
                        - La idea principal de esto es establecer un v&iacute;nculo entre padres e hijo, antes de su nacimiento.
                    </p>
                    <p class="p-font p-format">
                        - Motivar, de manera precoz, la unión familiar: involucrar no solo a la mam&aacute;, su pareja y el hijo que
                        todav&iacute;a no ha nacido, sino tambi&eacute;n a los hermanos, si los hay.
                    </p>
                    <p class="p-font p-format">
                        - Promover que la pareja tambi&eacute;n se implique en el embarazo.
                    </p>
                    <p class="p-font p-format">
                        - Esta terapia que utiliza la m&uacute;sica como v&iacute;a principal se marca varios objetivos terap&eacute;uticos,
                        dirigidos tanto a la embarazada y al beb&eacute;, como a su entorno.
                    </p>
                </div>
            </div>
        </section>
    </main>
    <!-- button to top -->
    <a href="#top" class="position-to-top">
        <i class="fas fa-angle-up icon-to-top"></i>
    </a>
</body>
</html>