<!DOCTYPE html>
<html lang="en">
<head>
        <!-- link para tipo de letra -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- link al css -->
	<link rel="stylesheet" type="text/css" href="estilos/infoMusic.css"/>
    <link rel="stylesheet" type="text/css" href="estilos/formato.css"/>
    <!-- link para iconos -->
    <script src="https://kit.fontawesome.com/fe64e3e572.js" crossorigin="anonymous"></script>
    <title>MUSICOTERAPIA</title>
</head>
<body>
    <header>
        <!-- barra de navegación -->
        <nav class="navPadding textCenter">
            <h2 class="colorWhite">INFORMACI&Oacute;N SOBRRE LA MUSICOTERAPIA</h2>
                <a href="/loged.html" class="aNavPaddingRight colorWhite boldText">INICIO</a>
            </nav>
    </header>
    <main>
        <section class="paddingTitulo">
            <h2 class="linea textCenter"><span class="titulo-span colorOrange fontH">MUSICOTERAPIA</span></h2>
        </section>
        <section>
            <div class="wrapper flex-center">
                <div class="floatLeft width-div-img padding-img">
                    <img src="images/top-20mobileapps-1-2.jpg" alt="imagen introduccion" width="100%">
                </div>
                <div class="floatLeft width-div-texto padding-p p-top-padding">
                    <p class="p-font p-format">
                        La musicoterapia consiste en usar las respuestas y conexiones de una persona con la m&uacute;sica para estimular cambios positivos en el estado de &aacute;nimo y el bienestar general. La terapia musical puede incluir crear m&uacute;sica  con instrumentos de todo tipo, cantar, moverse con la m&uacute;sica  o simplemente escucharla.
                    </p>
                    <p class="p-font p-format">
                        La m&uacute;sica tiene efectos poderosos sobre la mente. Los diferentes estilos de m&uacute;sica pueden tener un efecto importante en el estado de &aacute;nimo de una persona muy r&aacute;pidamente, y pueden ayudarle a experimentar y procesar una amplia variedad de emociones, desde felicidad hasta entusiasmo, al igual que tristeza, tranquilidad y contemplaci&oacute;n.
                    </p>
                </div>
            </div>
        </section>
        <section class="paddingTitulo">
            <h2 class="linea textCenter"><span class="titulo-span colorOrange fontH">BENEFICIOS DURANTE EL EMBARAZO</span></h2>
        </section>
        <section>
            <div class="wrapper flex-center">
                <div class="floatLeft width-div-img padding-img">
                    <img src="images/musicoterapia-embarazada.jpg" alt="imagen introduccion" width="100%">
                </div>
                <div class="floatLeft width-div-texto padding-p p-top-padding">
                    <p class="p-font p-format">
                        Se ha comprobado que mediante la musicoterapia se hace m&aacute;s f&aacute;cil este tr&aacute;nsito, permitiendo que
                        pueda vivirse con la mayor naturalidad posible. Adem&aacute;s, con el aprendizaje de t&eacute;cnicas de
                        relajaci&oacute;n y descanso mental y corporal, se favorece la capacidad de controlar por ella misma
                        la sensaci&oacute;n de dolor y ansiedad.
                    </p>
                    <p class="p-font p-format">
                    </p>
                </div>
            </div>
        </section>
    </main>
    <!-- button to top -->
    <a href="#top" class="position-to-top">
        <i class="fas fa-angle-up icon-to-top"></i>
    </a>
    <footer>
        <div class="padding-footer">

        </div>
    </footer>
</body>
</html>