@charset "utf-8";
/* CSS Document */
body{
	background-color: #f0c5a8;
	background-image: url("bg1.png");
	background-repeat: no-repeat;
}

h1{
	text-align: center;
	color: #6aa6aa;
	margin: 30px;
}

.boton{
	width: 500px;
	font-size: 25px;
	border: 1px solid #000;
	border-radius: 15px;
	text-align: center;
	background: #dcefee;
	padding: 10px;
	margin: 10px auto;
}

a{text-decoration: none;
color: #000;}